.discover-item {
  background-color: #282b30;
  border-radius: 4px;
  overflow: hidden;
  transition: all 0.16s ease-out;
  cursor: pointer;
}

.discover-item:hover {
  box-shadow: 2px 4px 8px 0 rgb(0 0 0 / 32%), -2px 6px 12px 0 rgb(0 0 0 / 32%);
  margin-top: -4px;
}

.price {
  font-size: 20px;
  font-weight: normal;
  display: flex;
  align-items: center;
  gap: 8px;
}

.price img {
  height: 18px;
}

.category {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
