.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
}

.box {
  width: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  transform: rotateZ(0);
  animation: rotate 1.2s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.dot {
  width: 8px;
  height: 8px;
  background-color: #00c3cf;
  animation: changeColor 0.5s alternate infinite;
}

@keyframes changeColor {
  to {
    background-color: #3dd9fc;
  }
}
