#pui-modal-root > dialog main.pui-dialog {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: auto;
  /* user-select: none; */
}

#pui-modal-root > dialog main.pui-dialog-mask {
  background-color: rgba(0, 0, 0, 0.32);
}
