.dialog {
  background-color: #361c54;
}

.poster {
  width: 600px;
  height: 450px;
  border: 1px solid #000000;
  filter: drop-shadow(6px 6px 0px #210e36);
}

.poster img {
  width: 100%;
}

.text {
  color: rgba(255, 255, 255, 0.65);
}

.btn {
  width: 200px;
  height: 30px;
  line-height: 30px;
}

.goldcoin {
  width: 274px;
}

.goldcoin img {
  width: 100%;
}
